@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../assets/fonts/PlayfairDisplay.ttf') format('truetype');
  }

@font-face {
    font-family: 'PTSerif';
    src: url('../assets/fonts/PTSerif-Regular.ttf') format('truetype');
  }

@font-face {
    font-family: 'EBGaramond';
    src: url('../assets/fonts/EBGaramond.ttf') format('truetype');
  }

$title-font: 'PlayfairDisplay', sans-serif;
$subtitle-font: 'PTSerif', sans-serif;
$body-font: 'EBGaramond', sans-serif;

$primary-color: #ac957b;
$secondary-color: #7c7c7c;
$tertiary-color: #a36200;